[submodule "submodules/xwing-data2"]
	path = submodules/xwing-data2
	url = https://github.com/guidokessels/xwing-data2
[submodule "submodules/excel-bootstrap-table-filter"]
	path = submodules/excel-bootstrap-table-filter
	url = https://github.com/chestercharles/excel-bootstrap-table-filter
