body {
    font-family: 'Roboto Condensed', sans-serif;
}

table.dataTable thead th, h1 {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding: 10px 13px;
}

.dropdown-filter-content, tbody {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 11pt;
}

.mdc-tab-bar {
    /* space table away from tabs */
    padding-bottom: 8px;
}

.dataTables_filter {
    /* bring search box closer to table after adding buttons */
    padding-top: 10px;
}

.dt-button-collection button {
    /* style the buttons within the Column Visibility menu */
    display: block;
    border-style: solid;
    padding: 0px 14px;
    border-width: 2px;
}