body {
    font-family: 'Roboto Condensed', sans-serif;
}

table.dataTable {
    width: auto; /* undo the default 100% width so columns won't shrink */
}

table.dataTable thead th {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding: 8px 10px;
    white-space: nowrap;
}

.dropdown-filter-content, tbody {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 11pt;
}

.mdc-tab-bar {
    /* space table away from tabs */
    padding-bottom: 8px;
}

.dataTables_filter {
    /* bring search box closer to table after adding buttons */
    padding-top: 10px;
}

.dt-button-collection button {
    /* style the buttons within the Column Visibility menu */
    display: block;
    border-style: solid;
    padding: 0px 14px;
    border-width: 2px;
}

span.red {
    color: red;
}

table.dataTable tbody tr.even {
    background-color: #f3e5f5;
}

footer {
    padding-top: 1em;
}

.dropdown-filter-icon {
    border-style: none;
}

.arrow-down {
    background: url("img/icons8-filter.png");
    background-repeat: no-repeat;
    background-size: 0.8em;
    padding: 0.4em; /* make padding equal half background-size */
    transform: none;
    border-width: 0;
    margin: 0;
}

#aboutDiv div {
    font-family: 'Roboto', sans-serif;
    width: 40em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

span.hidden {
    display: none;
}