body {
    font-family: 'Roboto Condensed', sans-serif;
}

table.dataTable thead th {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding: 10px 13px;
}

.dropdown-filter-content, tbody {
    font-weight: normal;
    font-size: 11pt;
}